html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    overflow-x: hidden;


}

nav {
    background-color: rgb(40, 60, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px 10px;
    position: fixed;
    width: 100%;
    color: white;
    border-bottom: 2px white solid;
    z-index: 1;
    box-shadow: 0 0 10px 0 black;
}

.navicon {
    font-size: 1.5rem;

}

.navtitle {
    font-size: 1.5rem;
    font-family: cursive;
    padding: 10px;
}

.acc {
    padding-right: 20px;
}

#usernamebtn {
    padding: 5px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    transition: .1s;
    font-size: 0.8rem;
    color: white;
    transition: .4s;
    min-width: 200px;

}

#usernamebtn:hover {

    scale: 1.1;

}

#navdrop {
    padding: 0 70px;
    display: none;


    /* border: 1px white solid;
    animation: line 1s;
    transition: border-color .2s; */

}

#menubtn {
    padding: 0 70px;
    display: none;
}

#usernameline {
    position: fixed;
    width: 200px;
    transform: translateX(-70px);
    animation: lineun 1s;
}

@keyframes lineun {
    from {
        width: 0;
    }

    to {
        width: 200px;
    }
}

#navdrop button {
    position: fixed;
    padding: 4px 0;
    width: 130px;
    background-color: rgb(40, 60, 72);
    transition: .4s;
    color: white;
    border: none;


}

#navdrop button:hover {
    color: rgb(40, 60, 72);
    background-color: white;
}

#myprofile {
    transform: translateY(2px);
    animation: dripfun1 .5s ease-in-out;

}

@keyframes dripfun1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(2px);

    }

}


#updateprofile {
    transform: translateY(24px);
    animation: dripfun2 .5s ease-in-out;

}

@keyframes dripfun2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(24px);
    }

}

#settings {
    transform: translateY(47px);
    animation: dripfun3 .6s ease-in-out;


}

@keyframes dripfun3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(47px);
    }

}

#logoutbtn {
    transform: translateY(70px);

    animation: dripfun4 .6s ease-in-out;
}

@keyframes dripfun4 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(70px);
    }

}

.bgimg {
    margin-top: 70px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 70%;
    z-index: -1;
}
.btnset3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* .sps {
    height: 70px;
    width : 50%;
} */
/* .bgcon{
    background-image: url('Medical-full-body-screening-software-on-tablet-and-healthcare-devices.jpg-1280x797.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    */

.forms{
    justify-content: center;
    display: flex;
    margin-top: 4rem;
    
    
    
}
form{
    background-color: aliceblue;
    padding: 50px;
    width: 60vw;    
    border-radius: .5vw;
}
.forms .formheader{
    padding: 1vw;
    display: flex;
    justify-content: center;
    font-size: 1.7vw;
    font-weight: 900;
}
.formel{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formel .desc{
    font-size: 1.6vw;
}
.formel input{
    width: 30vw;
    height: 5vh;
    
}
.updoc{
    padding: 1vw;
    border: 1px black dashed;
    border-radius: .6vw;
}
 .header{
    padding: .5vw;
}
.updoc .upopt{
    padding: .5vw;

}
.act{
    padding: 1vw;
    display: flex;
    justify-content: space-around;

}
.act button{
    width: 15vw;
    height: 5vh;
    gap: 10vw;
}












footer {
    background-color: rgb(40, 60, 72);
    text-align: center;
    font-size: 1.1rem;
    color: white;
    border-top: 2px white solid;
}

footer div {
    padding: 10px 0;
    font-family: monospace;
}

.btnset1 {
    padding: 10px;
    padding-right: 10px;
    display: flex;
    text-align: justify;
}

.btnset1 button {
    padding: 10px;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border-color: white;
    transition: .1s;
    margin-right: 10px;
}

.btnset1 button:hover {
    color: rgb(40, 60, 72);
    background-color: white;
    border-color: rgb(40, 60, 72);
}




































.sps {
    height: 70px;
    width: 100%;
}

#daystat {
    text-align: right;
    color: white;
    padding: 10px;
}

.btnset1 {
    padding: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.btnset1 button {
    padding: 10px;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border-color: white;
    transition: .1s;
    margin-right: 10px;
}

.btnset1 button:hover {
    color: rgb(40, 60, 72);
    background-color: white;
    border-color: rgb(40, 60, 72);
}

.abtcon {
    display: none;
    padding: 15px;
    width: auto;
    text-align: center;
    background-color: rgba(40, 60, 72, .8);


}

.abt {
    color: white;
    max-width: 600px;
    margin: auto;
    font-size: 1rem;
    padding: 10px;
    animation: abtui 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes abtui {
    from {
        font-size: 0;
    }

}

.abtcon button {
    background-color: transparent;
    font-size: 2rem;
    color: white;
    border: none;
}

.abtcon button:hover {
    color: red;
}